footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: whitesmoke;
  color: rgb(174, 174, 174);
  .form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    .form-title {
      text-align: center;
    }
  }
  .form-item {
    padding: 0.5rem 1rem;
    .tooltip-for-name {
      border-radius: 0.5rem;
      background-color: $light-rose;
      color: $dark-rose;
      -webkit-animation: fadeinout 6s ease-in-out;
      animation: fadeinout 6s ease-in-out;
      opacity: 0;

      @-webkit-keyframes fadeinout {
        0% {
          opacity: 0.8;
        }
        30% {
          opacity: 1;
        }
        0% {
          opacity: 0.8;
        }
      }

      @keyframes fadeinout {
        10% {
          opacity: 0.8;
        }
        50% {
          opacity: 1;
        }
        10% {
          opacity: 0.8;
        }
      }
    }
    .tooltip-for-tel {
      border-radius: 0.5rem;
      background-color: $light-rose;
      color: $dark-rose;
      -webkit-animation: fadein 3s ease-in-out, fadeout 3s ease-in-out;
      animation: fadein 3s ease-in, fadeout 6s ease-out;
      // animation: fadeinout 6s ease-in-out;
      opacity: 0;

      // @-webkit-keyframes fadeinout {
      //   0% {
      //     opacity: 0.8;
      //   }
      //   30% {
      //     opacity: 1;
      //   }
      //   0% {
      //     opacity: 0.8;
      //   }
      // }

      // @keyframes fadeinout {
      //   10% {
      //     opacity: 0.8;
      //   }
      //   50% {
      //     opacity: 1;
      //   }
      //   10% {
      //     opacity: 0.8;
      //   }
      // }
      @-webkit-keyframes fadein {
        100% {
          opacity: 1;
        }
      }
      @-webkit-keyframes fadeout {
        0% {
          opacity: 1;
        }
        60% {
          opacity: 1;
        }
        80% {
          opacity: 0.8;
        }
        100% {
          opacity: 0;
        }
      }
      @keyframes fadein {
        100% {
          opacity: 1;
        }
      }
      @keyframes fadeout {
        0% {
          opacity: 1;
        }
        60% {
          opacity: 1;
        }
        80% {
          opacity: 0.8;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
  .form-item > input {
    border-bottom: 0.0625rem solid $dark-rose;
    width: 100%;
    height: 1.2rem;
    background-color: whitesmoke;
    &.error {
      border-bottom: 1px solid red; /* Змініть стиль границі, щоб виділити поле червоним коліром */
    }
  }
  .form-item > textarea {
    border: 0.0625rem solid $dark-rose;
    border-radius: 0.4rem;
    background-color: whitesmoke;
    padding: 4.8px;
    &.error {
      border: 1px solid red; /* Змініть стиль границі, щоб виділити поле червоним коліром */
    }
  }

  .form-item > .form-checkbox {
    width: 1rem;
    &.error {
      -webkit-box-shadow: 0 0 0.625rem rgb(255, 0, 0);
      box-shadow: 0 0 0.625rem rgb(255, 0, 0);
    }
  }
  .submit-btn {
    width: 4rem;
    height: 2.3rem;
    background-color: $dark-rose;
    border-radius: 1.3rem;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 75rem;
    padding: 1rem;
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
    .footer-title,
    .social-title {
      text-align: center;
    }
  }
  .line {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 0.14rem;
    border-radius: 0.125rem;
    background-color: $dark-rose;
  }

  .icon-map-marker1 {
    color: $dark-rose;
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  .icon-phone1 {
    color: $dark-rose;
    font-size: 0.9rem;
    margin-right: 1.1rem;
  }
  .icon-mail {
    color: $dark-rose;
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  .mediaLinksWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .icon-instagram {
    color: $dark-rose;
    font-size: 2.8rem;
    margin: 1rem;
  }
  .icon-facebook-ico {
    color: $dark-rose;
    font-size: 3rem;
    margin: 1rem;
  }
  .icon-booksy-ico {
    color: $dark-rose;
    font-size: 3rem;
    margin: 1rem;
  }
  .address-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0 1rem 0;
  }
  .callTo-wrapper,
  .maillTo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    .callTo {
      display: block;
    }
  }
  .error {
    border-bottom: 2px solid red; /* Змініть стиль границі, щоб виділити поле червоним коліром */
  }
}
