nav {
  @media (max-width: 40rem) {
    // display: none;
    flex-direction: column;
    position: fixed;
    top: 4.5rem;
    padding: 2rem 0;
    background-color: rgba(102, 51, 153, 0.15);
    // filter: blur(10px);
    width: 15rem;
    height: 100dvh;
    right: 0;
    justify-content: flex-start;
    // transform: scale(0.5);

    opacity: 0;
    visibility: hidden;
    .nav-link {
      padding: 0 1rem 2rem 0;
      display: block;
      width: 100%;
      text-align: end;
    }
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $light-rose;
  flex: 1 1 auto;
}
.visible {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
